PORT=3000
NODE_ENV=development
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=product-images
SUPABASE_PAYMENT_PROOFS_BUCKET=payment-proofs
FRONTEND_URL=http://localhost:5173
FRONTEND_URLS=http://localhost:5173,https://frontend-super-mercado-el-otro.vercel.app
BUSINESS_TIME_ZONE=America/La_Paz
